In [198]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import chi2
from scipy.stats import normaltest
pd.options.display.float_format = '{:.4f}'.format

Loading the data

In [ ]:
# Loading data for normality test
df = pd.read_csv('Data/loan.csv')
print('df is loaded')
df.drop(['issue_d','earliest_cr_line','last_pymnt_d',
        'last_credit_pull_d','id','member_id','settlement_date',
        'next_pymnt_d','zip_code'],axis='columns',inplace=True)

df = df.infer_objects()
df.dropna(axis=1,how='any',thresh=int(0.3*len(df)),inplace=True)
print(df.shape)

df = df.loc[df.loan_status!='Current']
df = df.loc[df.loan_status!='Late (31-120 days)']
df = df.loc[df.loan_status!='Late (16-30 days)']
df = df.loc[df.loan_status!='In Grace Period']
df = df.loc[df.loan_status!='Default']

dictionary = {'Does not meet the credit policy. Status:Fully Paid':'Fully Paid',
             'Does not meet the credit policy. Status:Charged Off':'Charged Off'}

df['loan_status'].replace(dictionary,inplace=True)
df['loan_status'].value_counts(normalize=True)

categorical = df.select_dtypes(include=['object'])
numerical = df.select_dtypes(exclude=['object'])

categorical.fillna('other',inplace=True)
numerical.fillna(numerical.median(),inplace=True)

In [182]:
# Loading data for chi2 test
df = pd.read_csv('Data/Binary_label_K_bins_train.csv')
df.drop('Unnamed: 0',axis=1,inplace=True)

# Noramlity test

In [199]:
# D’Agostino’s K^2 Normality test 
stat, p = normaltest(numerical)
normality_test = pd.DataFrame({'feature':numerical.columns,'statistic':stat,
                               'p-value':p})

In [207]:
normality_test

                           feature    statistic  p-value
0                        loan_amnt  105354.4942   0.0000
1                      funded_amnt  105660.8966   0.0000
2                  funded_amnt_inv  105419.5597   0.0000
3                         int_rate   98178.1892   0.0000
4                      installment  172480.4441   0.0000
5                       annual_inc 4032449.7660   0.0000
6                              dti 3244214.3085   0.0000
7                      delinq_2yrs 1445901.3870   0.0000
8                   inq_last_6mths  617958.8160   0.0000
9           mths_since_last_delinq  196813.0188   0.0000
10                        open_acc  325826.6033   0.0000
11                         pub_rec 2312422.3647   0.0000
12                       revol_bal 2478177.5481   0.0000
13                      revol_util    3623.7995   0.0000
14                       total_acc  192472.2663   0.0000
15                       out_prncp 3238602.0066   0.0000
16                   out_prncp_inv 3238602.0066   0.0000
17                     total_pymnt  179192.9656   0.0000
18                 total_pymnt_inv  179013.5451   0.0000
19                 total_rec_prncp  136467.0193   0.0000
20                   total_rec_int  749710.5146   0.0000
21              total_rec_late_fee 2815554.7402   0.0000
22                      recoveries 1858276.4522   0.0000
23         collection_recovery_fee 1934637.7214   0.0000
24                 last_pymnt_amnt  428655.6691   0.0000
25      collections_12_mths_ex_med 2568849.1497   0.0000
26                     policy_code 3238602.0066   0.0000
27                  acc_now_delinq 2998138.8996   0.0000
28                    tot_coll_amt 8817936.2964   0.0000
29                     tot_cur_bal  954188.4135   0.0000
30                     open_acc_6m  830728.3288   0.0000
31                     open_act_il 1376349.5950   0.0000
32                     open_il_12m  707711.7134   0.0000
33                     open_il_24m 1035023.7683   0.0000
34              mths_since_rcnt_il 1513961.1516   0.0000
35                    total_bal_il 1604287.2670   0.0000
36                         il_util  471351.2491   0.0000
37                     open_rv_12m 1073679.5903   0.0000
38                     open_rv_24m 1063822.3132   0.0000
39                      max_bal_bc 2852450.9094   0.0000
40                        all_util  202575.5490   0.0000
41                total_rev_hi_lim 4272060.1817   0.0000
42                          inq_fi 1241593.7978   0.0000
43                     total_cu_tl 1399354.2053   0.0000
44                    inq_last_12m 1156059.8280   0.0000
45            acc_open_past_24mths  385422.0548   0.0000
46                     avg_cur_bal 1203224.8599   0.0000
47                  bc_open_to_buy 1111024.5693   0.0000
48                         bc_util  134709.0850   0.0000
49        chargeoff_within_12_mths 2750317.1235   0.0000
50                     delinq_amnt 5090974.3398   0.0000
51              mo_sin_old_il_acct   94957.7365   0.0000
52            mo_sin_old_rev_tl_op  228827.7292   0.0000
53           mo_sin_rcnt_rev_tl_op 1023848.2049   0.0000
54                  mo_sin_rcnt_tl 1254586.7141   0.0000
55                        mort_acc  468646.6998   0.0000
56            mths_since_recent_bc 1015376.9408   0.0000
57           mths_since_recent_inq  202629.8790   0.0000
58  mths_since_recent_revol_delinq  327034.5875   0.0000
59           num_accts_ever_120_pd 1359986.8790   0.0000
60                  num_actv_bc_tl  395082.4949   0.0000
61                 num_actv_rev_tl  441964.4978   0.0000
62                     num_bc_sats  516810.9255   0.0000
63                       num_bc_tl  361483.7991   0.0000
64                       num_il_tl  618493.5406   0.0000
65                   num_op_rev_tl  417496.8544   0.0000
66                   num_rev_accts  341690.7520   0.0000
67             num_rev_tl_bal_gt_0  396843.2766   0.0000
68                        num_sats  344390.5062   0.0000
69                num_tl_120dpd_2m 4034036.7556   0.0000
70                    num_tl_30dpd 2937979.4332   0.0000
71              num_tl_90g_dpd_24m 2388444.3478   0.0000
72              num_tl_op_past_12m  436524.6050   0.0000
73                  pct_tl_nvr_dlq  632617.8605   0.0000
74                percent_bc_gt_75 1152264.5234   0.0000
75            pub_rec_bankruptcies  983419.4461   0.0000
76                       tax_liens 3565844.0932   0.0000
77                 tot_hi_cred_lim 1354045.8393   0.0000
78               total_bal_ex_mort 1332238.6140   0.0000
79                  total_bc_limit  908332.3275   0.0000
80      total_il_high_credit_limit 1010652.5746   0.0000

# chi2 test

* identify features with the highest predictive values

In [183]:
y = df[['training labels']]
X = df.drop('training labels',axis='columns')

In [184]:
scores, pvalues = chi2(X, y)

In [205]:
chi2_table = pd.DataFrame({'feature':X.columns,
                     'statistic':scores,
                     'p-value':pvalues})
chi2_table.dropna(inplace=True)

In [206]:
chi2_table.sort_values('statistic',ascending=False)

                              feature  statistic  p-value
22                    last_pymnt_amnt 62822.9637   0.0000
17                    total_rec_prncp 42694.9679   0.0000
15                        total_pymnt 22972.1608   0.0000
16                    total_pymnt_inv 22906.4785   0.0000
79                            grade_A 20865.6040   0.0000
83                            grade_E 14766.6788   0.0000
97                    sub_grade_other 13072.8918   0.0000
3                            int_rate 10572.7377   0.0000
82                            grade_D  9809.4045   0.0000
80                            grade_B  7833.3168   0.0000
78                    term_ 36 months  7356.5606   0.0000
85                       sub_grade_A1  5420.2777   0.0000
128  verification_status_Not Verified  5137.5334   0.0000
107                      sub_grade_A4  4136.0037   0.0000
92                       sub_grade_A2  4035.2216   0.0000
87                       sub_grade_A5  4014.6027   0.0000
84                            grade_G  3659.8099   0.0000
109                      sub_grade_A3  3614.2133   0.0000
96                       sub_grade_E5  3178.8883   0.0000
108                      sub_grade_E3  3007.6566   0.0000
93                       sub_grade_B1  2989.1853   0.0000
105                      sub_grade_E4  2942.9692   0.0000
129      verification_status_Verified  2849.0846   0.0000
106                      sub_grade_E1  2763.7438   0.0000
123               home_ownership_RENT  2595.5450   0.0000
44                     bc_open_to_buy  2576.4612   0.0000
95                       sub_grade_B2  2557.8396   0.0000
101                      sub_grade_D4  2532.0195   0.0000
99                       sub_grade_D5  2418.3989   0.0000
175            debt_settlement_flag_N  2393.0437   0.0000
125           home_ownership_MORTGAGE  2308.8963   0.0000
43                        avg_cur_bal  2077.2493   0.0000
98                       sub_grade_D3  1904.5633   0.0000
103                      sub_grade_B3  1896.3339   0.0000
94                       sub_grade_D2  1812.6740   0.0000
74                    tot_hi_cred_lim  1792.2448   0.0000
6                                 dti  1761.2821   0.0000
122                  emp_length_other  1748.1283   0.0000
8                      inq_last_6mths  1740.7849   0.0000
52                           mort_acc  1649.0684   0.0000
42               acc_open_past_24mths  1573.8276   0.0000
100                      sub_grade_D1  1487.2275   0.0000
26                        tot_cur_bal  1447.8498   0.0000
76                     total_bc_limit  1321.5725   0.0000
71                   percent_bc_gt_75  1273.2100   0.0000
130               purpose_credit_card  1258.7507   0.0000
69                 num_tl_op_past_12m  1174.7648   0.0000
18                      total_rec_int  1163.1405   0.0000
89                       sub_grade_C5  1078.8123   0.0000
53               mths_since_recent_bc  1038.8651   0.0000
51                     mo_sin_rcnt_tl  1028.9065   0.0000
81                            grade_C  1010.2222   0.0000
139          title_Debt consolidation  1003.9523   0.0000
50              mo_sin_rcnt_rev_tl_op   998.8309   0.0000
104                      sub_grade_B4   944.8764   0.0000
38                   total_rev_hi_lim   841.3169   0.0000
58                    num_actv_rev_tl   778.1606   0.0000
88                       sub_grade_C4   759.6030   0.0000
1                         funded_amnt   755.8871   0.0000
0                           loan_amnt   755.3142   0.0000
136            purpose_small_business   734.3010   0.0000
64                num_rev_tl_bal_gt_0   732.6038   0.0000
2                     funded_amnt_inv   723.0020   0.0000
137     title_Credit card refinancing   680.7417   0.0000
45                            bc_util   672.3472   0.0000
5                          annual_inc   653.1994   0.0000
54              mths_since_recent_inq   642.2723   0.0000
13                         revol_util   568.2764   0.0000
4                         installment   492.3089   0.0000
132        purpose_debt_consolidation   483.3251   0.0000
140                       title_other   446.8995   0.0000
49               mo_sin_old_rev_tl_op   429.3128   0.0000
86                       sub_grade_B5   405.9187   0.0000
152                     addr_state_CO   285.8206   0.0000
114              emp_length_10+ years   269.0418   0.0000
160                     addr_state_WA   243.8667   0.0000
158                     addr_state_OR   243.2019   0.0000
102                      sub_grade_C3   229.8086   0.0000
57                     num_actv_bc_tl   211.8994   0.0000
159                     addr_state_NY   208.2927   0.0000
134                       purpose_car   194.4324   0.0000
131          purpose_home_improvement   187.2738   0.0000
142          title_Debt Consolidation   185.9108   0.0000
62                      num_op_rev_tl   151.3090   0.0000
168                     addr_state_AL   110.6965   0.0000
48                 mo_sin_old_il_acct   108.5032   0.0000
144                     addr_state_FL   105.0045   0.0000
165                     addr_state_LA    90.5938   0.0000
166                     addr_state_SC    90.3077   0.0000
138            title_Home improvement    88.4626   0.0000
147                     addr_state_IL    80.1967   0.0000
141                       title_Other    79.2481   0.0000
10                           open_acc    75.0916   0.0000
65                           num_sats    68.6724   0.0000
133                     purpose_other    52.3499   0.0000
151                     addr_state_GA    47.1245   0.0000
90                       sub_grade_C1    43.0579   0.0000
156                     addr_state_NV    40.1680   0.0000
60                          num_bc_tl    37.9204   0.0000
145                     addr_state_MD    36.5556   0.0000
143                     addr_state_NJ    33.8393   0.0000
70                     pct_tl_nvr_dlq    32.2609   0.0000
171             initial_list_status_w    31.9059   0.0000
59                        num_bc_sats    29.0404   0.0000
161                     addr_state_IN    28.2652   0.0000
124                home_ownership_OWN    27.9719   0.0000
12                          revol_bal    27.0434   0.0000
163                     addr_state_WI    25.2986   0.0000
91                       sub_grade_C2    23.2885   0.0000
135                   purpose_medical    22.6878   0.0000
170                     addr_state_TN    21.1113   0.0000
14                          total_acc    19.2195   0.0000
146                     addr_state_CA    16.9294   0.0000
119               emp_length_< 1 year    14.8709   0.0001
157                     addr_state_MO    12.5343   0.0004
162                     addr_state_NC    12.3761   0.0004
117                emp_length_6 years    12.0551   0.0005
150                     addr_state_PA    11.9990   0.0005
164                     addr_state_MA     9.7168   0.0018
153                     addr_state_OH     9.3461   0.0022
75                  total_bal_ex_mort     7.0973   0.0077
77         total_il_high_credit_limit     6.3652   0.0116
111                 emp_title_Manager     6.1511   0.0131
148                  addr_state_other     5.5624   0.0184
118                emp_length_7 years     4.6504   0.0310
61                          num_il_tl     4.4276   0.0354
172       application_type_Individual     3.7629   0.0524
113                emp_length_2 years     3.3576   0.0669
112                emp_length_4 years     3.1463   0.0761
167                     addr_state_MN     3.1394   0.0764
121                emp_length_5 years     2.8872   0.0893
155                     addr_state_MI     2.8572   0.0910
149                     addr_state_AZ     2.3264   0.1272
63                      num_rev_accts     1.9060   0.1674
154                     addr_state_TX     0.8450   0.3580
120                emp_length_9 years     0.4078   0.5231
115                emp_length_8 years     0.3786   0.5383
169                     addr_state_VA     0.2698   0.6035
127              home_ownership_OTHER     0.1426   0.7057
110                   emp_title_other     0.0693   0.7924
126                home_ownership_ANY     0.0350   0.8516
174          disbursement_method_Cash     0.0138   0.9064
116                emp_length_3 years     0.0120   0.9126
173                   hardship_flag_N     0.0000   0.9984